_site
_newp
.sass-cache
.jekyll-metadata
Gemfile
Gemfile.lock
*.md
*.cpp
*.exe
p/003258tc.html
p/004692tc.html
p/005595tc.html
p/005338tc.html
p/005221tc.html
p/004979tc.html
p/006720tc.html
p/006725tc.html
