body {
  font-family: Verdana, Arial, Helvetica, Microsoft JhengHei;
  font-size: 15px;
  color: #000000;
  margin: 0px;
  padding: 0 10px;
  background-color: #535353;
}
div, .pagebody div img, table, td, p {
  margin: 0; padding: 0;
  border: none;
  border-spacing: 0;
  text-align: -webkit-center; text-align: center;
}
b {font-weight:bold;}
/* nav */
.header {
  width: 100wv;
  max-width: 950px;
  margin: 0 auto;
  background-color: #5a5a5a;
}
.mspanav {
  font-family: Arial, Helvetica, Microsoft JhengHei, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 13px;
  height: 18px;
}
.mspanav a {
  color: inherit;
  margin: 0 3px;
}
.mspanav img {
  vertical-align: middle;
  border: 0;
}
/* mspa content */
.content {
  width: 100wv;
  max-width: 950px;
  padding: 0;
  margin: 0 auto;
  background: #c6c6c6;
  height: auto;
}
.content-inner {
  max-width: 650px;
  width: 100wv;
  color: #000000;
  margin: 0 auto;
  padding-top: 7px;
  background: #c6c6c6;
  text-align: -webkit-center; text-align: center;
}
/* PH */
.pagehead {
  padding: 15px 0px;
  font-weight: bold;
  font-size: 32px;
  font-family: Courier, Verdana, Arial, monospace;
  background-color: #eeeeee;
}
/* PB */
.pagebody {
  margin-top: -8px;
  border-spacing: 0;
  font-family: Courier, Verdana, Arial, monospace;
  background-color: #eeeeee;
}
.pagebody img {
    width: 100%;
    margin-bottom: 15px;
}
.pagebody embed, .pagebody object {
  margin-bottom: 15px;
  /*width: 650px; height: 450px; /* default width & height*/
}
.pagebody div {
  vertical-align: middle;
  padding: 15px 25px 0 25px;
}
.pagebody div.log-inner {
  text-align: left;
  width: 90%;
  margin: 5px auto;
}
.pagebody div.authorlog {
  margin: 0 5px;
  border: 3px solid #c6c6c6;
  padding: 15px 5%;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: left;
  font-family: Courier, Verdana, monospace;
  line-height: 1.1;
}
/* PF */
.pagefoot {
  padding: 20px 20px 15px 25px;
  text-align: left;
  font-size: 24px;
  font-family: Verdana, Arial, Helvetica, Microsoft JhengHei, monospace;
  background-color: #eeeeee;
}
.pagefoot a.newer-page-link, html a.blog-pager-newer-link {
  line-height: 30px !important;
}
#contribute, #contribute a {
  text-align: -webkit-center; text-align: center;
  text-decoration: none;
  padding-top: 15px;
  width: 100vw; max-width: 650px;
}
/* PFF */
.pagefooter-footer {
  text-align: left;
  font-weight: bold;
  font-size: 13px;
  padding-top: 35px;
}
#pagefooter-footer-url {
  font-size: 12px;
}
/* note and log */
div#note {
  padding-top: 50px;
  text-align: left;
  font-size: 0.75em;
}
span#note {
  color: inherit;
  font-size: 0.7em;
  vertical-align: text-top;
  position: relative;
  top: -2px;
  text-align: left;
}
div.log-outer {
  width: 92.30769%;
  border: 1px dashed gray;
  padding: 1px 0;
  box-sizing: border-box;
}
div#log-outer-outer {
  padding: 0;
  text-align: left;
}
div.log-outer div {
  padding: 0;
}
div.log-outer button {
  margin: 0 auto; 
}
.pagebody div.log-inner img {
  margin-left: -56px;
  border: 0;
}
.pagebody div.log-inner span img {
  width: auto !important;
  margin: 0;
}
.log-inner {
  width: 90%;
  border: none;
  text-align: left;
  margin: auto; margin-bottom: 5px;
  font-size: 1em;
  font-family: Courier, Verdana, monospace;
  line-height: 1.1;
}
.div-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0; padding: 0;
  height: 150px;
  border: dashed 1px gray;
  text-align: -webkit-center; text-align: center;
}
/* Gamzees Quirk */
#gamzee b {
  font-weight: normal;
  font-size: 66%;
  vertical-align: -2px;
}
/* footer */
#contribute, #contribute a {
  text-align: -webkit-center; text-align: center;
  text-decoration: none;
  width: 100vw; max-width: 650px;
}
/* Bannerframe */
.footer-bannerframe {
  background-color: #535353;
  margin: 0; 
  height: 110px;
  vertical-align: bottom;
  font-family: Courier, Verdana, monospace;
  font-weight: bold;
  color: #000000;
}
.footer-bannerframe div {
  padding-top: 10px;
  font-size: 36px;
}
/************
SCRATCH PAGES
*************/
.scratch a:active, .scratch a:hover, .scratch a:link, .scratch a:visited {
    color: #2cff4b;
}
.scratch,
.scratch .header,
.scratch .mspanav a,
.scratch .pagebody div.log-outer {
    background-color: #000;
    color: #fff;
}
.scratch .content-inner,
.scratch .page,
.scratch .pagehead,
.scratch .pagebody,
.scratch .pagefoot,
.scratch .pagefooter-footer {
    background-color: #0e4603;
    color: #fff
}
.scratch .content,
.scratch #contribute,
.scratch .footer-bannerframe {
    background-color: #082a00;
    color: #fff
}
#s_header_src {
    display: none;
}
