body {
  font-family: Verdana, Arial, Helvetica, Microsoft JhengHei;
  font-size: 15px;
  color: #000000;
  margin: 0px;
  padding: 0 10px;
  background-color: #535353;
}
div, .pagebody div img, table, td {
  margin: 0; padding: 0;
  border: none;
  border-spacing: 0;
  text-align: -webkit-center; text-align: center;
}
b {font-weight:bold;}
/* nav */
.mspanav {
  width: 950px;
  margin: 0 auto;
  background-color: #5a5a5a;
}
.mspanavMobile {
  padding: 5px 0;
  margin: -10px auto 15px auto;
  background: #535353;
  font-size: 14px;
}
.mspanavMobile a {
  color: #ffffff;
  padding: 3px 3%;
  margin: 0 -2px;
}
.mspanav {
  font-family: Arial, Helvetica, Microsoft JhengHei, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 13px;
  height: 18px;
}
.mspanav a {
  color: inherit;
  margin: 0 3px;
}
.mspanav img {
  vertical-align: middle;
  border: 0;
}
/* mspa content */
.content {
  width: 950px;
  padding: 0;
  margin: 0 auto;
  background: #c6c6c6;
  height: auto;
}
.content-inner {
  color: #000000;
  margin: 0 auto;
  padding-top: 7px;
  width: 650px;
  background: #c6c6c6;
  text-align: -webkit-center; text-align: center;
}
/* PH */
.pagehead {
  padding: 15px 0px;
  font-weight: bold;
  font-size: 32px;
  font-family: Courier, Verdana, Arial, monospace;
  background-color: #eeeeee;
}
/* PB */
.pagebody {
  margin-top: -8px;
  border-spacing: 0;
  font-family: Courier, Verdana, Arial, monospace;
  background-color: #eeeeee;
}
.pagebody div {
  vertical-align: middle;
  padding: 15px 25px 0 25px;
}
/* PF */
.pagefoot {
  padding: 20px 20px 15px 25px;
  text-align: left;
  font-size: 24px;
  font-family: Verdana, Arial, Helvetica, Microsoft JhengHei, monospace;
  background-color: #eeeeee;
}
.pagefooter-footer {
  text-align: left;
  font-weight: bold;
  font-size: 13px;
  padding-top: 35px;
}
.pagefoot a.newer-page-link, html a.blog-pager-newer-link {
  line-height: 30px !important;
}
#contribute, #contribute a {
  text-align: -webkit-center; text-align: center;
  text-decoration: none;
  padding-top: 15px;
  width: 100vw; max-width: 650px;
}
/* Bannerframe */
.footer-bannerframe {
  background-image: url('http://cdn.mspaintadventures.com/images/bannerframe.png');
  height: 110px;
  vertical-align: bottom;
  font-family: Courier, Verdana, monospace;
  font-weight: bold;
  color: #000000;
  width: 100vw; max-width: 950px;
}
.footer-bannerframe div {
  padding-top: 10px;
  font-size: 36px;
}

