.ao3-header {
    position: relative;
    height: 30px;
    background: #900;
    padding: 0 0;
    width: 100%;
    box-shadow: inset 0 -6px 10px rgba(0,0,0,0.35), 1px 1px 3px -1px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.85);
}
.ao3-title {
    font-family: adobe-garamond-pro, source-han-serif-tc, serif;
    font-weight: bold;
    font-size: 39px;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-wrap {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ao3-wrapper {
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #aaa;
    margin: 30px 15px 0px 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-family: Verdana, 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}
.ao3-label-float, .ao3-field-float {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 15px;
}
.ao3-label-float {
    margin-right: 2.1834061135%;
    width: 23.3624454148%;
    font-weight: bold;
}
.ao3-field-float{
    width: 74.4541484716%;
    font-weight: normal;
}
.ao3-label {
    font-size: 14px;
    font-weight: bold;
}
.ao3-field {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 14px;
}
.ao3-underline-border {
    border-bottom: 2px solid #000000;
}

@media screen and (max-width: 675px) {
    .ao3-label-float  {
      margin-right: 4.4642857143%;
      width: 100%;
      margin-bottom: 0px;
    }
    .ao3-field-float  {
      margin-left: 15px;
      width: 100%;
    }
}

span.opener {
  margin-top: -2px;
  line-height: 1;
  float: left;
  font-family: 'Homestuck-Regular', monospace;
  font-size: 56px;
  font-weight: bold;
}
p {
  text-indent: 25px;
  margin: 0; padding: 0;
}
p.no-indent {
  text-indent: 0px;
}
p.Command {
  text-indent: 0px;
  margin: 15px 0px 15px 25px;
  font-size: 18px;
  font-family: Verdana, 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}
div.chat {
  margin: 15px 0px 15px 25px;
  font-size: 14px;
  font-family: Courier, PMingLiU, SimSun, monospace;
}
div.chat p {
  text-indent: 0px;
  font-weight: bold;
}
.john {
  color: #0715cd;
}
.rose {
  color: #b536da;
}